.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px 35px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0070f3;
}
.description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #0070f3;
}

.textarea {
  height: 100px;
  resize: vertical;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}
